@import 'base';

nav.navbar {
    background-attachment: fixed;
    background-color: $color-blue-dark-6;
    padding: 0;
    height: 55px;

    @include flex-box-default;

    div.navbar-menu-wrapper {
        @include flex-box-default;
        // justify-content: space-around;
        height: 100%;
        width: 100%;
        padding: .5rem 0;

        div.navbar-menu-wrapper-right {
            width: 30%;
            height: 100%;
            @include flex-box-default;
            justify-content: flex-start;
            padding-right: .5rem;

            div.navbar-menu-box-right {
                @include flex-box-default;
                justify-content: flex-start;
                width: 100%;
                height: 100%;

                img {
                    height: 100%;
                    width: 270px;
                }

                button {
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    padding: 0 .5rem;

                    &:focus,
                    &:active {
                        background-color: transparent;
                        border-color: none;
                        box-shadow: 0 0 0 0 transparent !important;
                        border-color: transparent;

                        // color: $color-light-2;
                    }

                    svg {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        div.navbar-menu-wrapper-left {
            @include flex-box-default;
            width: 70%;
            height: 100%;
            justify-content: flex-end;
            padding-left: .5rem;


            div.navbar-menu-box-left {
                @include flex-box-default;
                justify-content: flex-end;
                width: 450px;
                height: 100%;

                div {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    a {
                        color: $color-white;
                        text-decoration: none;
                        font-size: 80%;
                        @include flex-box-default;
                        // border-left: 1px solid $color-light-4;
                        // padding-left: .5rem;

                        &:focus,
                        &:hover {
                            outline: none;
                            color: $color-light-2;
                        }

                        p {
                            margin-bottom: 0;
                        }

                        i {
                            color: $color-white;
                            // font-size: 14px;

                            &:active {
                                color: $color-light-2;
                            }
                        }
                    }
                }
            }

        }
    }
}

@import './medias/mediaHeaderPanel';