@import './base';

.formGroup {
    margin-top: 2rem;
    text-align: right;
    width: 50%;
    
    label {
        font-size: 95%;
    }
    select {
        font-size: 95%;
        
        &:focus {
            border-color: $color-light-4;
            box-shadow: 0 0 .2rem .05rem rgba($color: $color-light-5, $alpha: .7);
        }
    }
}


@import './medias/_mediaSelectBox.module.scss';